form {
    width: 70%;
    margin: 2rem auto 0 auto;
    text-align: center;
}
.form {
    width: 100%;
}

.data-finalizar {
    text-align: start;
}
.todo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: rgb(104, 100, 100);
}

.buttons {
    width: 35%;
    text-align: start;
}

button {
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    width: 100%;
}