<div class="container">

    <div class="badge">
        <button  mat-stroked-button color="primary" matBadge="{{ closed }}">FINALIZACAO DE TASK</button>
    </div>

    <button class="novo-todo mat-elevation-z8" mat-stroked-button color="primary">NOVO TODO</button>

    <div class="content" *ngFor="let item of list">
        <mat-card class="mat-elevation-z8">
            <p> Data para finalizar: {{ item.completionDate }} </p>
            <mat-card-header>
                <mat-card-title> {{ item.title }} </mat-card-title>
                <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
            </mat-card-header>

            <div class="action">
                <button mat-mini-fab color="Primary">
                    <mat-icon>done</mat-icon>
                </button>
                <button mat-mini-fab color="Accent">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="Warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card>
    </div>
</div>